.splash
  .offset
  h1.headline
    | We specialize in finding hidden tea gems that have stories to tell.
  nav
    a.btn.btn-default(scroll-to="take-a-trip" offset="50" href="#") Take a trip
    a.btn.btn-default(scroll-to="order-now" offset="50" href="#") Order now
  video(poster="#{asset_path('splashclip.mp4')}" loop autoplay)
    source(type="video/mp4" src="#{asset_path('splashclip.mp4')}")
  .next
    a(scroll-to="order-now" offset="50" href="#")
      i.fa.fa-angle-down.fa-3x

