.container-fluid.story(id="take-a-trip" ng-init="selected = 1")
  h1 Our tea has a story that you're a part of
  ul.tabs.list-inline
    li.col-xs-3(ng-click="selected = 1")
      img src="#{image_path('tem.png')}"
      p(ng-class="{active: selected === 1}") Nature imperative

    li.col-xs-3(ng-click="selected = 2")
      img src="#{image_path('tgr.png')}"
      p(ng-class="{active: selected === 2}") Sustainable products

    li.col-xs-3(ng-click="selected = 3")
      img src="#{image_path('tb.png')}"
      p(ng-class="{active: selected === 3}") Tea journey

    li.col-xs-3(ng-click="selected = 4")
      img src="#{image_path('twh.png')}"
      p(ng-class="{active: selected === 4}") Giving back

  .tab-content.col-xs-12(ng-show="selected === 1")
    .col-xs-12.col-lg-5.story-content
      h2 Natural Tea from Nepal
      p Unlike other countries where tea is grown, the farmers in Nepal grow tea in a small-scale in their holdings that are typically of 2500 square meters. Tea is grown in lands owned by the household near the remote villages located in the Himalayan hills present in East Nepal.
      p Tea growing is not commercialized among farmers due to lack of infrastructure and tea plantations are considered as only one industry existing in the area. The climate in this region is cool, with cold breezes arising from Mount Everest and Mount Makalu. Tea plantations exist in the heights of the mountains and are surrounded by snow-clad peaks at altitude above 1900 meters, one of the highest-altitude tea estates in the world. Due to the extreme conditions in which tea is grown, the flavor of tea grown here is unique and cannot be compared to any other produce from any corner of the world.
      p The main motive behind Tealure was to market the unique tea of Nepal to the worldwide markets and help the tea growers in Nepal from the revenues generated.
    .col-xs-12.col-lg-7.tab-image.tab1

  .tab-content.col-xs-12(ng-show="selected === 2")
    .col-xs-12.col-lg-5.story-content
      h2 Sustainable Packaging
      p Even during the packaging process, we make use of the right materials to ensure that it is environment-friendly. As tea is the second most consumed beverage in the world, it is marketed extensively and companies package them without taking into consideration the impact it has. Hence, we ensure that the packaging we use are eco-friendly and are devoted to package part of our tea in hand crafted bamboo tubes and Lokta paper bags, that are environment safe options.
      p When bamboo and Lokta are used for packaging, no trees need to cut down, nor does it have any harmful effects on the environment. The packaging materials we make use of are unique and are hand made by village communities in Nepal and China, thereby providing them with a source of income too!
    .col-xs-12.col-lg-7.tab-image.tab2

  .tab-content.col-xs-12(ng-show="selected === 3")
    .col-xs-12.col-lg-5.story-content
      h2 Direct Trade
      p Tealure is a fast growing brand that works with the motive to bring popularity to the premium tea imported from Nepal, thereby making it profitable for tea growers, pickers and manufacturers.
      p As we import tea directly from the producers, the tea imported is pure and we have absolute control over the entire supply chain starting from the cultivator to the consumer. Due to the direct trade model we stick to, we manage to offer premium tea at much cheaper prices and we are able to pay the manufacturers better for all their efforts involved in tea cultivation. Thus, we eliminate the need of middlemen and instead, transfer the profits to the cultivators.
      p We do not purchase tea from brokers and indulge only in direct tea from high-end tea producers, so that there is complete transparency and value in our business.
    .col-xs-12.col-lg-7.tab-image.tab3

  .tab-content.col-xs-12(ng-show="selected === 4")
    .col-xs-12.col-lg-5.story-content
      h2 Giving it back to communities
      p When I witnessed the scenario in Nepal, I was determined to make the living conditions better among tea growers by giving them better prices for their produce. We went ahead and established the Tealure Farmers’ Co-operative Society in Kaski and each year, 10% of the overall profits made are set aside to help people in this area.
      p Also, farmers are able to borrow loans from the co-operative society, which offers loans at 12% rate of interest, while private lenders in the same region charge nearly thrice of that. To facilitate better savings among the citizens, we also provide micro loans and deposits due to which families would be able to generate income easily. Our motive is to improve the average income of households in Nepal so that their living conditions improve.
    .col-xs-12.col-lg-7.tab-image.tab4
