footer(ng-controller="FooterCtrl")
  p.social-media
    a href="http://facebook.com/tealure"
      i.fa.fa-facebook-square.fa-3x
    a href="http://twitter.com/tealured"
      i.fa.fa-twitter.fa-3x
    a href="http://instagram.com/tealure"
      i.fa.fa-instagram.fa-3x
    a href="http://pinterest.com/tealure/"
      i.fa.fa-pinterest.fa-3x
