header(ng-controller="HeaderCtrl")
  nav.navbar.navbar-default(ng-class="{scrolled: scrolled}" scrollable)
    .navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse-1")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a#left-cart-link.cart-link.visible-xs(bs-aside data-template='cart/cart.html' data-container='body' data-placement='right' data-animation='am-slide-right')
        span.glyphicon.glyphicon-shopping-cart
        span.cart-qty.badge(ng-bind="cart.totalQuantity()" ng-show="cart.totalQuantity() > 0")

      cart-popover.visible-xs(placement="bottom-right" target="#left-cart-link")

      a.navbar-brand href="../"
        img.logo height="26" ng-src="{{ env.config.logo }}" width="100"

    #navbar-collapse-1.collapse.navbar-collapse
      ng-include(src="'layout/navbar_right.html'")
