.catalog(ng-controller="CatalogController")
  .product-container(id="order-now")
    h1
      | Pick your tea...
    .empty(ng-if="products.length == 0")
      p
        | {{:: 'orders.no_products' | translate }}

    .product.col-xs-6(ng-class='{inactive: isActive() && (active != product), "sold-out": !product.isAvailable()}' ng-repeat="product in products")
      a(href='' ng-click='activate(product);')
        img.img-responsive(ng-src="{{ product.images[0].largeUrl }}")
        p(ng-bind="product.name")

  .description(ng-if="isActive()")
    h1(ng-bind="active.name")
    p.desc(ng-bind="active.description")

    .with-variants(ng-show="active.hasVariants")
      variant-selection(product="active" variant="selectedVariants[active.id]" class="{'btn-group-xs': true}")

      ng-include(src="'products/properties.html'")

      p.sold-out(ng-if="selectedVariants[active.id] && !selectedVariants[active.id].isAvailable()")
        | {{:: 'products.sold_out' | translate }}

      add-to-cart-button(ng-if="!selectedVariants[active.id] || selectedVariants[active.id].isAvailable()"
                         product="active"
                         variant="selectedVariants[active.id]"
                         quantity=1
                         class="{'btn-primary': true}")

    .without-variants(ng-hide="active.hasVariants")
      ng-include(src="'products/properties.html'")

      p.sold-out(ng-if="!active.isAvailable()")
        | {{:: 'products.sold_out' | translate }}

      add-to-cart-button(ng-if="active.isAvailable()"
                         product="active"
                         variant="active.master"
                         quantity=1
                         class="{'btn-primary': true}")

  .next
    a(scroll-to="take-a-trip" offset="50" href="#")
      i.fa.fa-angle-down.fa-3x
