section.properties.row(ng-show="active.product_properties.length > 0")
  .col-xs-6.col-xs-offset-3
    dl.col-xs-6(ng-repeat="property in active.product_properties")
      dt
        // FIXME Find beter icons i(class="fa fa-leaf fa-2x" title="{{ property.property_name }}" ng-show="property.property_name === 'Type'")
        // FIXME Find beter icons i(class="fa fa-globe fa-3x" title="{{ property.property_name }}" ng-show="property.property_name === 'Origin'")
        // FIXME Find beter icons i(class="fa fa-clock-o fa-3x" title="{{ property.property_name }}" ng-show="property.property_name === 'Steeping'")
        // FIXME Find beter icons i(class="fa fa-coffee fa-3x" title="{{ property.property_name }}" ng-show="property.property_name === 'Serving quantity'")
        // FIXME Find beter icons i(class="fa fa-refresh fa-3x" title="{{ property.property_name }}" ng-show="property.property_name === 'Re-steep'")
        | {{ property.property_name }}
      dd(ng-bind="property.value")
    dl.col-xs-6(ng-show="selectedVariants[active.id]")
      dt
        | Weight
      dd
        | {{ selectedVariants[active.id].weight }} grams
