//- Boilerplate classes
.bp-flex-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

//- Content
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", Arial;
  font-size: $font-size-mobile;
  color: $color-text-primary;
}

a:active, a:focus {
   outline: 0;
}

h1, h2, h3, h4 {
  color: $color-text-primary;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.navbar {
  position: fixed;
  z-index: 10;
  background: transparent;
  border: transparent;
  border-radius: 0;
  box-shadow: none;
  top: 0;
  left: 0;
  right: 0;

  transition: .5s ease;
  &.scrolled {
    background: $color-bg-light;
    .navbar-nav a {
      color: black;
    }
  }
}

.navbar-default {
  .navbar-nav > li > a:hover {
    background-color: transparent;
  }
  .navbar-toggle {
    border-color: white;
  }
}

.navbar-toggle:hover {
  border-color: white;
}

.navbar-default .navbar-toggle:hover, .navbar-toggle:visited {
  background-color: #e6e6e6;
}

.navbar-default {
  .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-collapse {
    border: 0;
    border-top: hidden;
    box-shadow: none;
  }
}

.splash{
  @extend .bp-flex-container;
  height: 100vh;
  text-align: center;

  &> * {
    flex: 1;
  }
  &> .next {
    flex: 0;
    padding-bottom: 1vh;
  }

  h1 {
    margin: 0;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $color-text-bright;
    padding: 0 7vw;
  }

  a {
    color: $color-text-bright;
  }

  .btn-default {
    font-size: 1em;
    background: transparent;
    color: $color-text-bright;
    letter-spacing: 0.05em;
    border-radius: 0;
    border: 2px solid white;
    padding: 0.5em 4em;
    margin: 0 1.5em;
    transition: all 0.3s ease 0s;
    &:hover {
      background: $color-bg-bright;
      color: $color-text-primary;
    }
  }

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}

.content {
  position: absolute;
  top: 100%;

  h1 {
    text-align: center;
    font-size: 2em;
    padding: 1vh 0 2vh;
  }

  .catalog {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background: $color-bg-bright;

    > * {
      flex: 0 100%;
    }

    .product-container {
      .product {
        transition: .5s ease;
        &.inactive {
          opacity: .3;
        }
        &.inactive:hover {
          opacity: .6;
        }
        a {
          text-decoration: none;
          color: $color-text-primary;
          > p {
            margin-top: -.6em;
          }
        }
      }
    }
    > div .add-to-cart {
      width: 80%;
    }
    .next {
      flex: 0 100%;
      a {
        color: $color-text-primary;
      }
    }
  }
  .story {
    background-color: $color-bg-bright;
    z-index: -200;
    * {
      padding: 0;
    }
    .tabs {
      text-align: center;
      li {
        cursor: pointer;
      }
      p {
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: .8em;
        border-bottom: 2px solid transparent;
        padding: 1vh 0 .5vh;

        &.active {
          border-color: $color-text-primary;
        }
      }
      img {
        max-width: 70%;
      }
    }

    .tab-content {
      background-color: $color-bg-tanned;
      .tab-image {
        height: 45em;
        background-size: auto 100%;
        background-position: center center;
        background-repeat: no-repeat;
        &.tab1 {
          background-image: url(image_path('slidebg3.jpg'));
        }
        &.tab2 {
          background-image: url(image_path('slidebg2.jpg'));
        }
        &.tab3 {
          background-image: url(image_path('slidebg1.png'));
        }
        &.tab4 {
          background-image: url(image_path('slidebg4.jpg'));
        }
      }

      .story-content {
        padding: 2vh 3vw;
        text-align: justify;
        > p {
          padding: .6em 0 0 1.5em ;
        }
      }
    }
  }
}




footer {
  position: static;
  text-align: center;
  background-color: $color-bg-dark;
  color: $color-text-light;
  .social-media {
    z-index: 2;
    a {
      color: $color-text-light;
      margin-right: 1.5em;
      &:hover {
        color: $color-text-bright;
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    font-size: $font-size-desktop;
  }
  .splash h1 {
    font-size: 2.4em;
  }
  .content {
    .catalog > * {
      flex: 0 50%;
      margin: 0 auto;
    }
    .story .tabs p {
      font-size: 1em;
    }
  }
}
