$color-text-primary: #111;
$color-text-light: rgba(255, 255, 255, .8);
$color-text-bright: white;
$color-bg-dark: #222;
$color-bg-light: rgba(255, 255, 255, .95);
$color-bg-lighter: rgba(255, 255, 255, .5);
$color-bg-bright: white;
$color-bg-tanned: #F5F0EB;
$font-size-mobile: 14px;
$font-size-desktop: 20px;
