.option.row.col-xs-9.col-centered(ng-repeat="option in product.options" class="{{option.type.name}}")
  a.col-xs-4.btn.btn-default(ng-repeat="item in option.values"
         ng-class="{'btn-success': isValueSelected(item.value)}"
         ng-disabled="!isValueAvailable(item.value)"
         ng-click="selectValue(item.value)")
    img.img-responsive(ng-src="{{ item.variants[0].image.largeUrl }}")
    | {{ item.value.presentation }}
