html(ng-app="Spreetl" ng-controller="GlobalCtrl")
  head
    title(ng-bind="title")
    meta(name="fragment" content="!")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="keywords" content="{{status.meta.keywords}}")
    meta(name="description" content="{{status.meta.description}}")

    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"

    = render 'sprangular/shared/templates'

  body(ng-class="status.bodyClasses")
    ng-include(src="'assets/layout/flash.html'" ng-show="flash.hasMessages()")

    #wrap
      ng-include(src="'assets/layout/header.html'")

      #main.container-fluid(ng-view autoscroll="true" ng-cloak)

    = javascript_include_tag "application"

    = yield

    = render 'sprangular/shared/analytics'

    - if I18n.locale != :en
      = javascript_include_tag "angular-i18n/angular-locale_#{I18n.locale}.js"
